@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    width: 100%;
    height: 55px;
    line-height: 0px 50px;
    padding: 10px 100px;
    position: fixed;
    background-image: linear-gradient(#3498db,#2c3e50);
}
nav .logo p{
    font-size: 32px;
    font-weight: bold;
    float:left;
    color: salmon;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}
nav ul{
    float: right;
}
nav li{
    display: inline-block;
    list-style:none;
}
nav li a{
   font-size: 18px;
   text-transform: uppercase;
   padding: 0px 30px;
   color:whitesmoke;
   text-decoration: none;
}
nav li a:hover{
    color: #d41c1c;
    transition: all 0.3s ease 0s;
}

body {
    
    background-image: url(./images/black.jpg);
    color: aliceblue;
    font-size: 18px;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


.memdetail {
    max-width: 500px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

 .memlabel {
    display: inline-block;
    width: 150px;
}

.memberform {
    margin-bottom: 30px;
    margin-left: 450px;
}  

.btn {
    text-align: center;
}

.btn button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn button:hover {
    background-color: #555;
}

h1{
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
}