<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>gymmanagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>trainerServlet</display-name>
    <servlet-name>trainerServlet</servlet-name>
    <servlet-class>servlet.trainerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>trainerServlet</servlet-name>
    <url-pattern>/trainerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>memberServlet</display-name>
    <servlet-name>memberServlet</servlet-name>
    <servlet-class>servlet.memberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberServlet</servlet-name>
    <url-pattern>/memberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>attendanceServlet</display-name>
    <servlet-name>attendanceServlet</servlet-name>
    <servlet-class>servlet.attendanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>attendanceServlet</servlet-name>
    <url-pattern>/attendanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>billingServlet</display-name>
    <servlet-name>billingServlet</servlet-name>
    <servlet-class>servlet.billingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>billingServlet</servlet-name>
    <url-pattern>/billingServlet</url-pattern>
  </servlet-mapping>
</web-app>